In [2]:
# Comments & Basic Data Types

Hello

" " "
This is a multi-Line comment
" " "
print("Hello") # this is also a comment

In [16]:
num1 = 245.54
num2 = 13.66


result = num1 * num2 # same as saying result = result * num1
print(result)

3354.0764

In [3]:
num1 = 3
num2 = 10


result = num1 + num2 # same as saying result = result * num1
print(num1," + ",num2," = ", result)

3  +  10  =  13

In [4]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [5]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [16]:
# python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print( "Hello, %s %s" % (first_name, last_name) )
# surround the variables in parenthesis

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [15]:
# using indexes to print each element
word = "Hello"
print( word[ 0 ] ) # will output 'H'
print( word[ 1 ] ) # will output 'e'
print( word[ -1 ] ) # will output 'o'
print( word[ 0 : 5 : 2 ] ) #

H
e
o
Hlo

In [18]:
# Wed exercise 1
first_name = "John"
num1 = 23
num2 = 4.5
switch = False
print( "%d %d %s %s" % (num1, num2, switch, first_name) )
# surround the variables in parenthesis

23 4 False John

In [21]:
# Wed exercise 2
first_name = "John"
sport = "chess"
name2 = "Theo"
prog = "Python"
print( "%s's favorite sport is %s." % (first_name, sport) )
print( "%s is working on %s programming!" % (name2, prog) )
# surround the variables in parenthesis

John's favorite sport is chess.
Theo is working on Python programming!

In [29]:
# using the title method to capitalize a string
name = "john smith"
print( name.title( ) )

John Smith

In [23]:
# replacing an exclamation point with a period
words = "Hello there!"
print( words.replace( "!", "." ) )

Hello there.

In [30]:
# finding the starting index of our searched term
s = "Look over that way"
print( s.find("over") )

5

In [34]:
# removing white space with strip
name = " john "
print( name.strip( ) )

john

In [41]:
# Thurs exercise 1
txt = "These words are separated by spaces"
s = txt.upper()
print( s.split(" ") )

['THESE', 'WORDS', 'ARE', 'SEPARATED', 'BY', 'SPACES']

In [48]:
# Thurs exercise 1
txt = "$$John"
s = txt.upper()
print( s.strip("$") )

JOHN